body {
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gridCount {
    width: 100px;
    margin-top: 20px;
}

#mainContainer {
    border: 1px solid white;
    border-bottom: 0;
    border-right: 0;
    height: 400px;
    width: 400px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
}

.row {
    flex: auto;
    display: flex;
}

.square {
    border: 1px solid white;
    border-top: 0;
    border-left: 0;
    flex: auto;
}